body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
}
.webpage {
    background-color: lightgrey;
}

.header,
#first-header {
    font-size: 36px;
    color: darkolivegreen;
    font-weight: 800;
}
#first-header {
    background-color: azure;
}

.header.second {
    font-size: 32px;
}

.header.third {
    font-size: 34px;
}

.text {
    font-size: 24px;
    color: black;
}

.list {
    text-align: left;
}

button {
    background-color: lightgray;
    font-weight: 400;
    font-size: 24px;
    color: black;
    border-color: blue;
    border-style: dotted;
    margin: 10px auto;
}

.picture {
    width: 500px;
    height: auto;
}

#ingredients {
    font-size: 18px;
    color: rgb(59, 22, 223);
}

.end {
    margin-bottom: 50px;
}

ol li {
    margin-top: 10px;
    margin-bottom: 20px;
}

.list.main {
    background-color: white;
    width: 500px;
    height: auto;
    margin: 20px auto;
    padding: auto;
    border: 5px;
    border-color: black;
    border-style: dashed;
    border-radius: 10px;
}